html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  background-color: #96D7D2;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

section {
  margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin-top: 25px;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 15px;
}

a {
  color: #F15E64;
}

a:hover {
  color: #333;
}

.jumbotron {
  background-color: #F15E64;
  color: #FFF;
}

.jumbotron img {
  border: 8px solid #FFF;
}

.jumbotron h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#o-meni {
  font-size: 1.2em;
}

#o-meni, #vjestine {
  background-color: #FFBB87;
}

#o-meni .col-xs-12, #vjestine .col-md-8, #osobni-podaci, #obrazovanje, #radno-iskustvo .col-md-8 {
  padding: 35px;
}

#podaci-obrazovanje .col-sm-7 {
  padding-left: 0;
}

#podaci-obrazovanje .col-sm-5 {
  padding-right: 0;
}

#osobni-podaci, #obrazovanje, #radno-iskustvo {
  background-color: #FFF;
}

#osobni-podaci .row {
  margin-top: 5px;
}

#osobni-podaci .col-left {
  font-family: 'Roboto Slab', serif;
}

.col-left {
  font-weight: 700;
  text-align: left;
}

.col-md-8 .row {
  margin-top: 5px;
}

#footer {
  padding-bottom: 15px;
}

@media all and (min-width: 768px) {
  #osobni-podaci, #obrazovanje {
    min-height: 350px;
  }

  #osobni-podaci {
    padding-top: 80px;
  }
}

@media all and (max-width: 768px) {
  #podaci-obrazovanje .col-sm-7, #podaci-obrazovanje .col-sm-5 {
    background-color: #FFF;
  }

  #podaci-obrazovanje .col-sm-5 {
    margin-top: 30px;
  }

  .col-sm-6.text-right, .col-md-6.text-right {
    text-align: left;
  }

  h3 {
    font-size: 1.2em;
  }

  .jumbotron {
    text-align: center;
  }

  .jumbotron img {
    margin-top: 20px;
  }
}
