
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */